@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #002f6c;
  --secondary_color: rgba(0, 0, 0, 0.15);
  --space_grotesk: "Space Grotesk", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}
